/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

.alignCenterText {
  text-align: center;
}

.placeholderrow {
  height: 150px;
}

body {
  width: auto;
  height: auto;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/search-page-background2.jpg");                    /* <------ */
  background-repeat:no-repeat;
  background-size: cover;
}


.container {
  color:white;
}
/*.container {
  width: 600px;
  margin: 0 auto;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}*/

.ghost-gps {
    height: 60px;
    width: : 10%;
    float: left;
    display: inline;
    margin: 10px 0px 10px 0px;
}

.ghost-input, p
{
 width: 80%;
}

.ghost-input-full, p
{
 width: 100%;
}


.ghost-input, .ghost-input-full, p {
  display: inline;
  float:right;
  font-weight:300;
  font-size: 25px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 10px 0px 10px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: transparent;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  color: black;
  margin: 10px 0px 10px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #515151;
}
p {
  color: #E64A19;
}


/*For forecast result page*/
table{
    margin:1em;
    border-collapse: collapse;
    width: 100%;
    position: absolute; 

}

tr:nth-of-type(odd) {
    background: gray;
}

th{
    background: #333;
    color: white;
}

td,th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    height: 100px;
}

.weatherConditionClass{
  display: inline-block;
  float: left;
}



.nextbutton, .prevbutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



.nextbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nextbutton:hover span {
  padding-right: 25px;
}

.nextbutton:hover span:after {
  opacity: 1;
  right: 0;
}


.prevbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prevbutton span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 5x;
  transition: 0.5s;
}

.prevbutton:hover span {
  padding-left: 25px;
}

.prevbutton:hover span:after {
  opacity: 1;
  left: 0;
}

.prevbutton:disabled,
.prevbutton[disabled]
.nextbutton:disabled,
.nextbutton[disabled]
{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}